@use "./variables.module.scss";
@use "./mixins.module.scss";

.paginationContainer {
  margin-top: 4.5rem;
  display: grid;
  width: 100%;
  gap: 2rem;

  @include mixins.tablet() {
    grid-template-columns: auto 1fr;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  div {
    @include mixins.mobileLandscape() {
      display: flex;
      place-self: center;
    }

    &:nth-child(2) {
      place-self: start;
      @include mixins.mobileLandscape() {
        place-self: end;
      }
    }

    .rowsCountTracker {
      color: variables.$color__primary;
      margin: 0;

      .rowsCountSelect {
        background-color: #e5e8ee;
        border: none;
        border-radius: 0.4rem;
        padding: 0.75rem 1rem;

        font-family: var(--font-work-sans);
        font-size: 1.6rem;
        color: variables.$color__primary;
      }
    }
  }

  .buttonsContainer {
    width: fit-content;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    @include mixins.tablet() {
      padding: 0 1.25rem;
    }

    .backNextButtons {
      border-radius: 0.4rem;
      padding: 0.25rem;
      background-color: #213f7d1a;
      width: 2.8rem;
      height: 2.8rem;
    }

    .paginationButtonsContainer {
      max-width: 16rem;
      overflow-x: scroll;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 1.2rem;

      /* Hide scrollbar for Chrome, Safari and Opera */
      &::-webkit-scrollbar {
        display: none;
      }

      .paginationButton {
        color: #979daf;
        padding: 0.5rem;
        font-size: 1.6rem;
      }

      .paginationButtonActive {
        font-weight: 700;
        color: variables.$color__primary;
      }

      @include mixins.mobileLandscape() {
        max-width: 32rem;
      }
    }
  }
}
