@use "./variables.module.scss";

.tableContainer {
  padding: 1.25rem 1.6rem;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  border-radius: 0.8rem;
  background-color: #fff;
  box-shadow: 3px 5px 20px 0px #0000000a;

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.4rem;

    .th {
      text-align: left;
      width: max-content;
      padding: 1.25rem 1.5rem;
      font-size: 1.6rem;
      font-weight: 600;
      text-transform: uppercase;
      color: variables.$color__primary;
    }

    .tr {
      padding: 1rem;
      border-bottom: 0.2rem solid #e9ecf2;

      &:last-child {
        border-bottom: none;
      }
    }

    .td {
      padding: 2rem 1.25rem;
      text-transform: capitalize;
      color: variables.$color__primary-light;

      .optionsContainer {
        position: relative;

        .optionMenuContainer {
          display: none;
          position: absolute;
          width: max-content;
          right: 0;
          border-radius: 0.4rem;
          padding: 2rem;
          background-color: #fff;
          box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.0392156863);
          z-index: 1;

          .optionMenuButton {
            display: flex;
            align-items: center;
            gap: 1rem;
            color: variables.$color__primary;
          }

          .optionMenuLink {
            text-decoration: none;
            padding: 0 0.5rem;
          }
        }

        .optionMenuContainer.active {
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: center;
          gap: 1.5rem;
        }
      }
    }
  }

  .tableLink {
    color: variables.$color__primary-light;
  }

  .status {
    border-radius: 5rem;
    padding: 0.5rem 1.25rem;
  }

  .active {
    background-color: #f3fcf6;
    color: variables.$color__tag-green;
  }

  .inactive {
    background-color: #f5f5f7;
    color: variables.$color__tag-gray;
  }

  .blacklisted {
    background-color: #fce6eb;
    color: variables.$color__tag-red;
  }

  .pending {
    background-color: #fdf7e5;
    color: variables.$color__tag-yellow;
  }
}
