@use "./variables.module.scss";
@use "./mixins.module.scss";

.header {
  padding: 1.6rem;

  .navbar {
    display: flex;
    align-items: center;

    .logo {
      max-width: 10rem;

      @include mixins.tablet() {
        max-width: 14.5rem;
      }
    }

    .searchContainer {
      margin-left: auto;

      @include mixins.tablet() {
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: stretch;
        border-radius: 0.8rem;
        overflow: hidden;
        min-width: 20rem;
        width: 25rem;
      }

      @include mixins.smallLaptop() {
        width: 35rem;
      }

      .navSearch {
        display: none;
        font-family: var(--font-work-sans);

        &::placeholder {
          font-family: var(--font-work-sans);
          font-size: 1.4rem;
        }

        @include mixins.tablet() {
          width: 100%;
          min-height: 100%;
          display: block;
          padding: 1.2rem;
          border: 0.2rem solid #545f7d26;
          border-right: none;
          border-radius: 0.8rem 0 0 0.8rem;
        }
      }

      .searchButton {
        // height: 3.6rem;
        // width: 3.6rem;
        padding: 0.25rem;
        color: variables.$color__primary;

        @include mixins.tablet() {
          padding: 1rem 1.5rem;
          background-color: variables.$color__secondary;
          color: #fff;
        }
      }
    }

    .navbarLinks {
      margin-left: 1.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      @include mixins.tablet() {
        margin-left: auto;
      }

      .navLink {
        color: variables.$color__primary;

        .docsIcon {
          @include mixins.tablet() {
            display: none;
          }
        }

        .docsText {
          display: none;

          @include mixins.tablet() {
            display: block;
          }
        }
      }

      .icons {
        width: 2.4rem;
        height: 2.4rem;
      }

      .avatarButton {
        font-family: var(--font-work-sans);
        color: variables.$color__primary;

        .avatar {
          width: 4.8rem;
          height: 4.8rem;
          object-fit: cover;
          border-radius: 50%;
        }

        .avatarName {
          margin-left: 0.5rem;
          margin-right: 0.5rem;
        }
      }

      .navButton {
        color: variables.$color__primary;

        @include mixins.desktop() {
          display: none;
        }
      }
    }
  }
}
